body {
    margin: 0;
    font-family: 'Helvetica',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    padding: 20px;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }

.details-view{    
  padding: 10px;
  border: solid 1px lightblue;
  display: flex;
}

.details-more{
    display: flex;
    flex-direction: column;
}
